<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>0</integer>
    <key>angleVariance</key>
    <integer>180</integer>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <integer>1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <integer>1</integer>
    <key>finishColorBlue</key>
    <real>0.4470588235294118</real>
    <key>finishColorGreen</key>
    <real>0.20784313725490197</real>
    <key>finishColorRed</key>
    <real>0.0392156862745098</real>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <real>0.2549019607843137</real>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <integer>40</integer>
    <key>finishParticleSizeVariance</key>
    <integer>0</integer>
    <key>gravityx</key>
    <integer>0</integer>
    <key>gravityy</key>
    <integer>0</integer>
    <key>maxParticles</key>
    <integer>70</integer>
    <key>maxRadius</key>
    <integer>0</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <integer>1</integer>
    <key>particleLifespanVariance</key>
    <real>0.4</real>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>20</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>80</integer>
    <key>rotationStartVariance</key>
    <integer>10</integer>
    <key>sourcePositionVariancex</key>
    <integer>15</integer>
    <key>sourcePositionVariancey</key>
    <integer>-20</integer>
    <key>sourcePositionx</key>
    <real>356.9620253164557</real>
    <key>sourcePositiony</key>
    <real>778.4810126582279</real>
    <key>speed</key>
    <integer>200</integer>
    <key>speedVariance</key>
    <integer>100</integer>
    <key>startColorAlpha</key>
    <integer>1</integer>
    <key>startColorBlue</key>
    <integer>1</integer>
    <key>startColorGreen</key>
    <real>0.4392156862745098</real>
    <key>startColorRed</key>
    <real>0.1803921568627451</real>
    <key>startColorVarianceAlpha</key>
    <real>0.09803921568627451</real>
    <key>startColorVarianceBlue</key>
    <real>0.2</real>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <integer>111</integer>
    <key>startParticleSizeVariance</key>
    <integer>10</integer>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>spriteFrameUuid</key>
    <string>2b31a1a4-4b58-4600-a8ad-3770f2598ce0</string>
    <key>positionType</key>
    <integer>1</integer>
    <key>rotationIsDir</key>
    <false/>
    <key>minRadiusVariance</key>
    <integer>0</integer>
    <key>emissionRate</key>
    <integer>120</integer>
  </dict>
</plist>