@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body {
   color:  #2A2A2A;
   font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    overflow-x: hidden;
  outline-style: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body:not(.home) .banner_not_exists .site-content {
    margin-top: 116px;
}
.site-content, .site-main, .site-footer {
    overflow: hidden;
}

div#wpadminbar {
    overflow: hidden;
}

.site-content {
    min-height: calc(100vh - var(--height) - var(--footer-height));
    position: relative;
    z-index: 2;
}


.section-banner-general + .site-content {
    padding-top: calc(var(--general_height) - 44px);
}


.admin-bar .section-banner-general + .site-content {
    padding-top: calc(var(--general_height) - 44px);
}

.admin-bar .section-banner-general {
    top: var(--admin-bar);
}


.site-content .content-area {
    position: relative;
    border-radius: 36px 36px 0px 0px;
    background: #fff;
    z-index: 4;
}

* {
    box-sizing: border-box;
}

.container{
    max-width: 1300px;
    padding: 0 40px;
    margin: 0 auto;
}

h1, .h1{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 96px */
    text-transform: capitalize;
    font-size: 40px;
}

h2, .h2{
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 78px */
    text-transform: capitalize;
}

h3, .h3{
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%; /* 60px */
    text-transform: capitalize;
}

h4, .h4{
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    text-transform: capitalize;
}

h5, .h5{
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; 
}

h6, .h6{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 170%;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    line-height: inherit;
    transition-duration: .3s;
}

a:hover {
    color: #57D575;
}

span.green-color, h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    color: #57D575;
}

.text-arrow:before {
    content: '';
    width: 29px;
    height: 57px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/green-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    position: absolute;
    left: 0;
}



button, .button, input[type="submit"]{
    padding: 8.5px 30px;
    border-radius: 70px;
    background: #57D575;
    color: #2A2A2A;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 198.477%;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    width: auto;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    transition-timing-function: cubic-bezier(0.12, 0.77, 0.16, 0.93);
    transition-duration: 0.3s;
    transition-property: background-color,color,border-color;
    min-height: 52px;
    min-width: 126px;
    justify-content: center;
}

.button.arrow {
    border-radius: 78px;
    background: #F6F6F6;
    padding: 12.5px 25px;
}

.button.arrow .circle {
    display: inline-flex;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    background: #57D575;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.button.arrow .arrow svg,
.button-arrow svg,
.button-around .arrow svg{transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;position: absolute;left: 0;top: 0;width: 100%;height: 100%;}

.button.arrow .arrow svg:nth-child(2),
.button-arrow svg:nth-child(2){
    opacity: 0;
    transform: translateX(-100%);
}

.button-arrow.button-prev svg:nth-child(2),
.button-around.button-prev svg:nth-child(2){
    transform: translateX(-100%);
}

.button.arrow:not(:hover) .arrow svg:nth-child(2),
.button-arrow:not(:hover) svg:nth-child(2),
.button-around:not(:hover) svg:nth-child(2){
    transition: transform 0.3s,opacity 0.3s;
}

.button.arrow  .arrow,
.button-around .arrow{
    width: 15px;
    height: 12px;
    display: inline-flex;
    flex-shrink: 0;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.next.page-numbers,
.prev.page-number {
    display: inline-flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.button-around .arrow,
.next.page-numbers svg,
.prev.page-numbers svg{
    width: 24px;
    height: 24px;
    transition: transform 0.3s;
}

.button.arrow:not(:hover) .arrow svg:first-child,
.button-arrow:not(:hover) svg:first-child,
.button-around:not(:hover) .arrow svg:first-child{
    transition: transform 0.3s ease 0.2s,opacity 0.3s ease 0.2s;
}


.button.arrow:hover .arrow svg:first-child, .button-arrow:hover svg:first-child{
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.3s,opacity 0.3s;
}

.button-arrow.button-prev:hover svg:first-child{
    transform: translateX(100%);
}

.button.arrow:hover  .arrow svg:nth-child(2),
.button-arrow:hover svg:nth-child(2),
.button-around:hover svg:nth-child(2) {
    opacity: 1;
    transform: translateX(0);
    transition: transform 0.3s ease 0.2s,opacity 0.3s ease 0.2s;
}

.button.arrow:hover, button:hover, .button:hover, input[type="submit"]:hover{
    color: #57D575;
    background: #F6F6F6;
}

.button .text, .button .text-absolute {
    position: relative;
    transition: transform 0.3s cubic-bezier(0.12, 0.77, 0.16, 0.93),opacity 0.3s cubic-bezier(0.12, 0.77, 0.16, 0.93);
}


.button .text-absolute {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(100%);
    opacity: 0;
}

.button:hover .text, .button:hover .text {
    transform: translateY(-100%);
    opacity: 0;
}

.button:hover .text-absolute, .button:hover .text-absolute {
    transform: translateY(-50%);
    opacity: 1;
}


.button-arrow {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.button-arrow:hover {
    background: #EAF5ED;
}

.button-arrow svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.button-arrow.disable svg path, .button-arrow.swiper-button-disabled svg path{
    fill: #F0F0F0;
}

.button-arrow.disable {
    pointer-events: none;
}

.button-arrow.button-prev span {
    transform: rotate(180deg);
    position: relative;
}

.button-around,
.next.page-numbers,
.prev.page-numbers{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2A2A2A;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    cursor: pointer;
}

body .page-numbers.disable svg path {
    fill: #ADADAD;
}
.page-numbers.disable {
    border-color: #ADADAD;
    pointer-events: none;
}s

.button-around.button-prev .arrow,
.prev.page-numbers svg{
    transform: rotate(180deg);
}

.button-around.disable {
    pointer-events: none;
    border-color: #ADADAD;
}

.button-around:hover svg,
.next.page-numbers:hover svg {
    transform: translateX(4px);
}

.prev.page-numbers:hover svg {
    transform: translateX(-4px) rotate(180deg);
}

.button-around.button-prev {
    transform: rotate(180deg)
}

.button-around svg {
    transition: transform .3s ease-out;
}

.button-around:hover, .next.page-numbers:hover,
.prev.page-numbers:hover {
    background: #EAF5ED;
}


.button-around svg path, .next.page-numbers svg path,
.prev.page-numbers svg path {fill: #2A2A2A;}

.button-around.disable svg path {fill: #ADADAD;}
.button-arrow .arrow {
    width: 38px;
    height: 29px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.button-arrow svg path {
    fill: #57D575;
}

body .swiper-button-next.swiper-button-disabled, body .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    cursor: auto;
    pointer-events: none;
}

.wpcf7-form label {
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.48px;
    margin-bottom: 9px;
    display: inline-block;
    vertical-align: top;
}

.wpcf7-form label span {
    color: #9D050A;
}

.wpcf7-form  p {
    margin-bottom: 24px;
}

input, textarea, .wpcf7-form select {
    border-radius: 8px;
    border: 1px solid #D5D4DC;
    background: #FFF;
    padding: 11px 12px;
    resize: none;
    color:  #2A2A2A;
    /* Para/Para16 */
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.48px;
    width: 100%;
    max-width: 639px;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
}

input:focus, textarea:focus{
     border-color: #2A2A2A;
}

.wpcf7-form select {
    background-image: url(../images/select-arrow.svg);
    background-size: 25.834px;
    background-position: center right 12px;
    background-repeat: no-repeat;
}


body .select2-container--default .select2-selection--single,
body .select2-container--default .select2-selection--single, 
 .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
  .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
    border-color: #D5D4DC;
    border-radius: 8px;
    height: 46px;
    padding: 0;
}

body  .select2-search--dropdown {
    padding: 0;
    display: none;
}

body  span.select2-dropdown.select2-dropdown--below {
    border: 0;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.07);
    border-radius: 11px;
}

body .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {/* Rectangle 468 */
    background: #F0F0F0;
    color: #2A2A2A;
}

body .select2-results__option--selectable {
    color: #2A2A2A;
    /* Para/Para16 */
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.48px;
    text-align: center;
    padding: 17px 12px;
    background: #fff;
    /* border-radius: 11px; */
}

body .select2-container--default .select2-results__option--selected {
    background: #F0F0F0;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: 0;
    background-image: url(../images/select-arrow.svg);
    background-size: 25.834px;
    background-position: center;
    background-repeat: no-repeat;
    width: 27px;
    height: 25px;
    margin: 0;
    top: 0;
    left: 0;
    transition-duration: .3s;
}

body .select2-container--default .select2-selection--single .select2-selection__rendered
{
    color:  #2A2A2A;
    /* Para/Para16 */
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    letter-spacing: 0.48px;
    height: 46px;
    padding: 11px 12px;
    border-radius: 8px;
}

body .select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #D5D4DC;
    padding: 11px 12px;
}

body .select2-results__option--selectable:first-child {
    border-radius: 11px 11px 0 0;
}

body .select2-results__option--selectable:last-child {
    border-radius: 0 0 11px 11px;
}

body .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 27px;
    height: 25px;
    top: 11px;
    right: 12px;
}

body .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate(180deg);
}


input.wpcf7-not-valid{
    border-color: #9D050A;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color:  #B1B1B1;
/* Para/Para16 */
font-family: "Lato", sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 22.4px */
letter-spacing: 0.48px;
}

.wpcf7-form span.wpcf7-not-valid-tip {
    color: #A61C49;
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0.36px;
    display: inline-block;
    margin-top: 12px;
    vertical-align: top;
    width: 100%;
}

.wpcf7-response-output {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    letter-spacing: 0.36px;
}

.text-arrow {
    position: relative;
    padding-left: 39px;
}

.button-around.button-prev {
    margin-right: 20px;
}

    
.next.page-numbers {
    margin-right: 0;
}

.prev.page-numbers {
    margin-left: 0;
}

.pagination {
    border: 0;
    padding: 0;
    margin: 0 auto;
    text-align: center;

}

.page-numbers {

    color: #adadad;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    margin: 0 30px;
}

.page-numbers.current {
    color: #000;
}


@media (min-width: 430px){
    .text-arrow:before {
        width: min(max(20px, calc(1.25rem + (29 - 20) * ((100vw - 430px) / (1440 - 430)))), 29px);
        height: min(max(50px, calc(3.125rem + (57 - 50) * ((100vw - 430px) / (1440 - 430)))), 57px);
    }
    h1, .h1{
        font-size: min(max(40px, calc(2.5rem + (80 - 40) * ((100vw - 430px) / (1440 - 430)))), 80px);
        min-height: 0vw;
    }

    h2, .h2{
            font-size: min(max(32px, calc(2rem + (60 - 32) * ((100vw - 430px) / (1440 - 430)))), 60px);
        min-height: 0vw;
    }
    h3, .h3{
        font-size: min(max(32px, calc(2rem + (50 - 32) * ((100vw - 430px) / (1440 - 430)))), 50px);
        min-height: 0vw;
    }

    h4, .h4{
        font-size: min(max(32px, calc(2rem + (48 - 32) * ((100vw - 430px) / (1440 - 430)))), 48px);
        min-height: 0vw;
    }

    h5, .h5{
        font-size: min(max(32px, calc(2rem + (36 - 32) * ((100vw - 430px) / (1440 - 430)))), 36px);
         min-height: 0vw;
    }
}

@media (max-width: 767px){
    .text-arrow:before {
        width: 20px;
    }
    
    .text-arrow {
        padding-left: 30px;
    }

    body {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
}

/* 404 */
.error-404 {
    max-width: 672px;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 40px;
}

@media (min-width: 1200px){
    .error-404 {
        min-height: 700px;
    }
}

.error-404 .page-content p{font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 18px;line-height: 140%;color: #2A2A2A;margin-bottom: 32px;}
.main-image {
    max-width: 458px;
    margin: 0 auto;
}

.main-image .image {
    position: relative;
    padding-bottom: calc(274/458 * 100%);
}

.main-image .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.error-404 .page-title {/* Oops! Something went wrong. */
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #2A2A2A;
    margin-bottom: 12px;
    text-transform: inherit;
}
.error404 .site-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-thankyou-page.error-404 .page-title {
    font-weight: 800;
}
@media (max-width: 1199px){
    .error-404 {
        padding-bottom: 150px;
    }
}
@media (min-width: 768px){
    .error-404 .page-title br {
        display: none;
    }

}

@media (max-width: 767px){

    .error-404 .page-title {
    font-size: 24px;
    }

    .error-404 {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    
    .page-numbers {
        margin: 0 20px;
    }

}



@media (max-width: 389px){
    .page-numbers {
        margin: 0 10px;
    }

    button, .button, input[type="submit"], .button.arrow {
        font-size: 15px;
        line-height: 35px;
    }

}
